@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Playfair+Display:wght@400;500;600&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
  line-height: normal;
}

img,
picture {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-decoration: none;
}
button {
  border: none;
  outline: none;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
}

body {
  min-height: 100vh;
}

:root {
  /* Font Family */
  --clicker-font: Clicker Script;
  --playfair-font: Playfair Display;

  /* Font Width */
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;

  /* Font Size */
  --font-size-xs: 1.4rem;
  --font-size-s: 1.6rem;
  --font-size-m: 1.8rem;
  --font-size-l: 2rem;
  --font-size-xl: 2.2rem;
  --font-size-xxl: 2.8rem;
  --font-size-xxxl: 3.2rem;
  --font-size-xxxxl: 3.5rem;
  --font-size-huge: 5.4rem;
  --font-size-custom: 22rem;
}
:root {
  /* Text Colors */
  --text-color-light: #ffffff;
  --text-color-dark: #1e1e1e;
  --text-color-gray: #707070;
  --text-color-accent: #603809;

  /* Background Colors */
  --background-color-lighter: #fffefc;
  --background-color-dark: #00000057;
  --background-color-accent: #f9c06a;

  /* Button Colors */
  --button-color-primary: #603809;
  --button-color-secondary: #442808;

  /* Card Background Color */
  --card-background-color-light: #ffeed8;
  --card-background-color-dark: #f9c06a6b;
}
:root {
  --body-max-width: 192rem;
  --container-max-width: 120rem;
}

body {
  font-family: var(--playfair-font);
}
header,
main,
footer {
  max-width: var(--body-max-width);
  margin-inline: auto;
}
/******* Center Sections Combine CSS*******/
.navbar,
.hero-section,
.feature,
.shop-section,
.testimony,
.show-case,
.news-latter,
.footer {
  max-width: var(--container-max-width);
  margin-inline: auto;
}

/******* Common CSS ---> Card *******/

.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}
.card {
  background-color: var(--card-background-color-light);
  border: 1px solid var(--card-background-color-dark);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card__image {
  border-radius: 3px;
}
.card__content {
  padding: 1.6rem;
}

.card__title {
  color: var(--text-color-accent);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-700);
  text-transform: capitalize;
}
.card__description {
  color: var(--text-color-dark);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-400);
  margin-block: 0.5rem;
}
.card__price {
  color: var(--text-color-accent);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-700);
}

/******* Common CSS ---> Buttons *******/
.btn {
  background: var(--background-color-accent);
  border-radius: 2.4rem;
  box-shadow: 0px 6px 12px 0px rgba(249, 192, 106, 0.22);
  color: var(--button-color-secondary);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-700);
  padding: 1.4rem 2.6rem;
  text-transform: capitalize;
  transition: all 0.3s ease;
}
.btn:hover {
  box-shadow: 0 1px 1.5rem 4px var(--background-color-accent);
}

/******* (Heder ) *******/
.header {
  background: var(--button-color-primary) url("./images/hero-bg.png") center
    no-repeat;
  background-size: cover;
  padding-block: 2.5rem;
  color: var(--text-color-light);
}
/******* Navbar Section *******/

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
}

.navbar-logo {
  font-family: var(--clicker-font);
  font-size: var(--font-size-xxxxl);
  transition: color 0.3s ease;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 6rem;
}
.navbar-links a {
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-xs);
  transition: color 0.3s ease;
}
.navbar-logo:hover,
.navbar-links a:hover {
  color: var(--background-color-accent);
  cursor: pointer;
}
.navbar-button {
  font-size: var(--font-size-s);
}
.navbar-button--1 {
  margin-right: 3.5rem;
  background-color: transparent;
  transition: color 0.3s ease;
}
.navbar-button--1:hover {
  color: var(--background-color-accent);
}
/******* Hero Section *******/
.hero-section {
  margin-block: 11.5rem;
}
.hero-content {
  max-width: 53rem;
}
.hero-content .heading-primary {
  color: var(--text-color-light);
}
.heading-primary {
  font-family: var(--clicker-font);
  font-size: var(--font-size-custom);
  font-weight: var(--font-weight-400);
}
.sub-heading {
  color: var(--text-color-light);
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-500);
  line-height: 3.4rem;
}
.sub-heading--1 {
  font-size: var(--font-size-xl);
}
.hero-content .btn {
  margin-top: 3.5rem;
}

/*******      (Main)    *******/
.main {
  background-color: var(--background-color-lighter);
}
/******* Feature Section *******/

.feature-section {
  background: url("./images/coffee_blast\ left.png") no-repeat bottom left;
  padding-block: 15rem;
}

.feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.feature-content {
  max-width: 58.5rem;
}
.feature-content .text-details {
  margin-block: 3rem;
  line-height: 3.4rem;
}
.heading-secondary {
  color: var(--text-color-accent);
  font-size: var(--font-size-huge);
  font-weight: var(--font-weight-700);
}
.text-details {
  color: var(--text-color-gray);
  font-size: var(--font-size-s);
}

/******* Shop Latter Section *******/
.shop-section {
  margin-bottom: 5rem;
}
.shop {
  text-align: center;
}
.shop .text-details {
  margin-block: 1.6rem 3.2rem;
}
.shop-btn {
  margin-bottom: -2.5rem;
}

.shop .card {
  width: 28.4rem;
}

/******* Testimony Section *******/

.testimony-section {
  background: url("./images/coffee_blast\ right.png") no-repeat top right;
  text-align: center;
  padding-block: 13rem;
}
.testimony-section .card {
  margin-block: 3.5rem;
  width: 28.4rem;
  aspect-ratio: 1;
  transition: all 0.4s ease;
}
.testimony-section .card:hover {
  background-color: var(--card-background-color-dark);
}
.testimony-section .card .card__title {
  margin-top: 2.5rem;
}
.testimony-section .card .card__description {
  max-width: 13rem;
}
.testimony-sub-heading {
  font-size: 3rem;
}

/******* Show-Case-Section*******/
.show-case-section {
  background: var(--button-color-primary) url("./images/show\ case\ bg.png")
    no-repeat center;
  background-size: cover;
  padding-block: 10rem;
  margin-inline: auto;
  max-width: var(--body-max-width);
}
.show-case {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 5rem;
}

.show-case-content .heading-secondary {
  color: var(--text-color-light);
  max-width: 57.5rem;
}
.show-case-content .text-details {
  color: var(--text-color-light);
  line-height: 3.4rem;
  margin-block: 2.4rem;
  max-width: 40rem;
}

/******* Feedback Section *******/

.feedback-section {
  position: relative;
  max-width: var(--body-max-width);
  text-align: center;
  margin: 14rem auto;
}
.coffee_blast-top {
  top: -2rem;
  right: 0;
  position: absolute;
}
.coffee_blast-bottom {
  bottom: -2rem;
  left: 0;
  position: absolute;
}

.carousel {
  background-color: var(--card-background-color-dark);
  border: 1px solid var(--card-background-color-dark);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 13rem 4em;
  margin: 3rem auto 0;
  max-width: 98rem;
}

.carousel__btn--previous,
.carousel__btn--next {
  position: relative;
  background-color: transparent;
  width: 8.2rem;
  aspect-ratio: 1;
}
.carousel__btn--previous {
  left: -4rem;
}
.carousel__btn--next {
  right: -4rem;
}
.carousel__content > .text-details {
  position: relative;
  max-width: 70rem;
  line-height: 3.6rem;
}
.carousel__content > .text-details::before {
  content: "“";
  position: absolute;
  color: var(--text-color-accent);
  font-size: 22rem;
  top: -2rem;
  left: -8rem;
}
.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 3rem;
}
.profile .heading-secondary {
  font-size: var(--font-size-xxxl);
}
.profile__image {
  position: relative;
  bottom: -9rem;
  max-width: 11rem;
  aspect-ratio: 1;
}

/******* (Footer ) *******/

/*******  News-Latter Section *******/
.news-latter {
  position: relative;
  background: var(--button-color-primary) url("./images/newslatter\ bg.png")
    no-repeat center;
  background-size: cover;
  padding-block: 10rem 15rem;
  text-align: center;
  max-width: var(--body-max-width);
  margin-inline: auto;
}
.pngwing {
  position: absolute;
  bottom: -19rem;
}
.pngwing--1 {
  left: 0;
}
.pngwing--2 {
  right: 0;
}
.news-latter .heading-secondary {
  color: var(--background-color-lighter);
}
.news-latter .text-details {
  color: var(--background-color-lighter);
  margin-bottom: 3rem;
}
.news-latter-form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.news-latter input {
  font-size: var(--font-size-l);
  color: var(--text-color-gray);
  font-family: var(--playfair-font);
  border: none;
  outline: none;
  border-radius: 0.4rem 0 0 0.4rem;
  padding-left: 3rem;
  width: 64.2rem;
  height: 6.6rem;
}

.news-latter button {
  background: #f9c06a;
  border-radius: 0 0.4rem 0.4rem 0;
  box-shadow: 0px 6px 12px 0px var(--card-background-color-dark);
  border: none;
  outline: none;
  width: 13.7rem;
  height: 6.6rem;
  padding: 0;
  font-size: var(--font-size-xl);
}
/******* Footer Section *******/

.footer-section {
  background: var(--button-color-primary) url("./images/footer-bg.png")
    no-repeat center;
  background-size: cover;
  padding: 20rem 3rem 10rem;
  max-width: var(--body-max-width);
  margin-inline: auto;
}
.footer {
  color: var(--text-color-light);
  display: flex;
  justify-content: space-between;
}
.footer__logo-container h3 {
  font-size: var(--font-size-huge);
  font-family: var(--clicker-font);
}
.footer__logo-container p {
  font-size: var(--font-size-xs);
  line-height: 2.2rem;
  margin-block: 3rem;
  max-width: 38rem;
}
.footer__list-about li,
.footer__list-company li,
.footer__list-contact li {
  font-size: var(--font-size-s);
  margin-bottom: 2rem;
}
.footer h4 {
  font-size: 2.6rem;
  margin-bottom: 5.5rem;
}
.footer__list-contact h4 {
  margin-bottom: 0;
}
.footer__list-contact p {
  font-size: var(--font-size-s);
  line-height: 3rem;
  margin-block: 3rem;
  max-width: 27rem;
}
